<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WikiSport</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div>
        <div th:each="table : ${response}">
            <h2 th:text="${table.title}">&nbsp;</h2>
            <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <div th:each="header : ${table.headers}">
                        <th th:text="${header}">&nbsp;</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row : ${table.rows}">
                    <div th:each="value : ${row}">
                        <div th:switch="${value.type.name()}">
                            <div th:case="LINK">
                                <td><a th:href="@{${value.linkInfo}}" th:text="${value.value}"></a></td>
                            </div>
                            <div th:case="*">
                                <td th:text="${value.value}">&nbsp;</td>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="starter-template">
        <h3>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h3>
        <h3>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h3>
        <h3>3. Visit <a th:href="@{/about}">Normal page</a></h3>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>